<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .wrapper_item {
      display: grid;



    }
  </style>
  </div>
</head>
<body>
    <table class="tg">
      <thead>
        <tr>
          <td>id товара</td>
          <td>наименование товар</td>
          <td>количество</td>
          <td>стоимость</td>
          <td>сумма</td>



        </tr>
      </thead>
        <tr>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
          <td class="tg-0lax"></td>
        </tr>
      </table>



  <div class="cart_wrapper">
    <div class="wrapper_item">
      <div class="name_of_product">
        asdfasdfsadfasdfasfa
      </div>
      <div class="quantity_of_product">
        2
      </div>
      <div class="price_of_product">
        30
      </div>
      <div class="subtotal_for_line">
        234234324
      </div>
    </div>
  </div>

  
</body>
</html>